header {
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4{
    margin-right: 10px;
    color: rgb(11, 11, 78);
    margin-bottom: 0px;
    font-size: 20px;
}

button {
    margin-left: auto;
    background-color: rgb(57, 85, 107);
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    color: white;
}
