nav{
    padding: 10px;
    background-color: brown;
    position: fixed;
    margin-bottom: 10px;
    margin-top: 50px;
    width: 100%;
    z-index: 900;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    margin-bottom: 0px;
    padding-left: 0px;
}

nav ul li{
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color: white;
}

nav ul li a:hover{
    color: brown;
}