table {
    margin-top: 20px;
    margin: auto; 
    max-width: 80%; 
    width: 100%;
}

table th {
    border: 2px solid rgb(87, 6, 6);
    padding: 2px;
    text-align: left;
}

table td {
    border: 2px solid rgb(87, 6, 6);
    height: 40px;
    padding: 5px;
}

table th {
    background-color: #f2f2f2;
}

.centered-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.centered-link a{
    background-color: rgb(87, 6, 6);
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.modificar{
    background-color: rgb(18, 131, 223);
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.eliminar{
    background-color: rgb(184, 0, 0);
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.acciones{
    width: 150px;
}

h5{
    height: 35px;
    color: rgb(87, 6, 6);;
    margin-bottom: 0px;
    padding-top: 8px;
}

.forms-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    max-width: 80%; 
    width: 100%;
}

.formone{
    display: flex;
}

.bus, .control{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(87, 6, 6);;
    margin-right: 5px;
}


.boton-buscar{
    width: 50px;
    height: 35px;
    margin-top: 0px;
    padding: 0px;
    border-radius: 5px;
    background-color: rgb(87, 6, 6);
    color: white;
    border: 0px;
}