<div class="centered-link">
    <a (click)="navigateToEmpleado()">regresar</a>
</div>
<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>DNI</th>
            <th>Celular</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of person">
            <th scope="row">{{persona.idPersona}}</th>
            <td>{{persona.nomPersona}}</td>
            <td>{{persona.aplPersona}}</td>
            <td>{{persona.dniPersona}}</td>
            <td>{{persona.celuPersona}}</td> 
            <td>{{persona.objType.nomTipo}}</td>
            <td>{{persona.activoPersona}}</td>
            <td class="acciones">
                <a class="modificar" (click)="activatePerson(persona.idPersona)">
                    Activar
                </a>
                <a class="eliminar" (click)="deleteHardPerson(persona.idPersona)">
                    Eliminar
                </a>
            </td>
        </tr>
    </tbody>
</table>
