.container {
    display: flex;
    max-width: auto; 
    margin: 15px;
}

.form-container {
    max-width: 350px;
    margin-right: 20px;
    border: 2px solid rgb(87, 6, 6);
    padding: 10px;
    margin-top: 10px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    margin-bottom: 0px;
}

label {
    padding: 5px;
}

input, select {
    width: 100%;
    height: 30px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    flex: 1;
    overflow: auto;
}

.table-container table {
    width: 800px;
    margin-top: 10px;
}

.table-container th{
    border: 2px solid rgb(87, 6, 6);
    padding: 2px;
    text-align: left;
} 
.table-container td {
    border: 2px solid rgb(87, 6, 6);
    height: 40px;
    padding: 5px;
}

.table-container th {
    background-color: #f2f2f2;
}
