<div class="container">
    <div class="form-container">
        <form>
            <div class="form-group">
                <label for="nom_persona">Nombres</label>
                <input type="text" id="nom_persona" placeholder="Ingrese nombres" name="nom_persona">
            </div>

            <div class="form-group">
                <label for="apl_persona">Apellidos</label>
                <input type="text" id="apl_persona" placeholder="Ingrese apellidos" name="apl_persona">
            </div>

            <div class="form-group">
                <label for="dni_persona">Dni</label>
                <input type="text" id="dni_persona" placeholder="Ingrese el DNI" name="dni_persona">
            </div>

            <div class="form-group">
                <label for="correo_persona">Correo</label>
                <input type="text" id="correo_persona" placeholder="Ingrese el correo" name="correo_persona">
            </div>

            <div class="form-group">
                <label for="fnaci_persona">Fecha de Naci.</label>
                <input type="date" id="fnaci_persona" placeholder="Fecha de nacimiento" name="fnaci_persona">
            </div>

            <div class="form-group">
                <label for="id_sexo">Sexo</label>
                <select id="id_sexo" name="id_sexo">
                    <option value="0">Seleccione el sexo</option>
                    <!-- Agrega opciones según sea necesario -->
                </select>
            </div>

            <div class="form-group">
                <label for="id_tipo">Tipo</label>
                <select id="id_tipo" name="id_tipo">
                    <option value="0">Seleccione el tipo</option>
                    <!-- Agrega opciones según sea necesario -->
                </select>
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Francisco Antonio</td>
                    <td>Vargas Donayre</td>
                    <td>73338875</td>
                    <td>Jefe</td>
                    <td>
                        m 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
