<div class="custom-container">
    <div class="form-container">
        <form [formGroup]="frmPerson" (ngSubmit)="registerOrUpdatePerson()">
            <h5>Registrar Empleado</h5>
            <div class="form-group">
                <label for="nomPersona">Nombres</label>
                <input type="text" id="nomPersona" placeholder="Ingrese nombres" name="nomPersona" formControlName="nomPersona">
            </div>

            <div class="form-group">
                <label for="aplPersona">Apellidos</label>
                <input type="text" id="aplPersona" placeholder="Ingrese apellidos" name="aplPersona" formControlName="aplPersona">
            </div>

            <div class="form-group">
                <label for="dniPersona">Dni</label>
                <input type="text" id="dniPersona" placeholder="Ingrese el DNI" name="dniPersona" formControlName="dniPersona">
            </div>

            <div class="form-group">
                <label for="correoPersona">Correo</label>
                <input type="text" id="correoPersona" placeholder="Ingrese el correo" name="correoPersona" formControlName="correoPersona">
            </div>

            <div class="form-group">
                <label for="fnaciPersona">Fecha de Naci.</label>
                <input type="date" id="fnaciPersona" placeholder="Fecha de nacimiento" name="fnaciPersona" formControlName="fnaciPersona">
            </div>

            <div class="form-group">
                <label for="celuPersona">Celular</label>
                <input type="text" id="celuPersona" placeholder="Celular" name="celuPersona" formControlName="celuPersona">
            </div>

            <div class="form-group">
                <label for="idSexo">Sexo</label>
                <select id="idSexo" class="form-control" name="idSexo" formControlName="idSexo">
                    <option value="0">Seleccione el sexo</option>
                    <option *ngFor="let sexo of sex" [value]="sexo.idSexo">{{ sexo.desSexo }}</option>
                </select>
                <label for="idTipo">Tipo</label>
                <select id="idTipo" class="form-control" name="idTipo" formControlName="idTipo">
                    <option value="0">Seleccione el tipo</option>
                    <option *ngFor="let tipo of type" [value]="tipo.idTipo">{{ tipo.nomTipo }}</option>
                </select>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="table-container">
        <div class="additional-links">
            <a class="active" (click)="listAllActive()">Regresar</a>
            <a class="all-person" routerLink="inactivos">Personas Inactivas</a>
            <form [formGroup]="frmPerson" (ngSubmit)="findName()">
                <div>
                    <input class="bus" type="text"name="nomPersona" placeholder="Ingrese nombres" formControlName="nomPersona">
                </div>
                <button class="boton-buscar">
                    <svg style="margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                    <th>Celular</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of person">
                    <th scope="row">{{persona.idPersona}}</th>
                    <td>{{persona.nomPersona}}</td>
                    <td>{{persona.aplPersona}}</td>
                    <td>{{persona.dniPersona}}</td>
                    <td>{{persona.celuPersona}}</td> 
                    <td>{{persona.objType.nomTipo}}</td>
                    <td>{{persona.activoPersona}}</td>
                    <td>
                        <a class="modificar btn btn-warning" (click)="loadPersonDataForUpdate(persona)" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                              </svg>
                        </a>
                        <a class="btn btn-danger" (click)="deleteSoftPerson(persona.idPersona)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                              </svg>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>