.custom-container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 120px;
}

h5{
    background-color: rgb(87, 6, 6);
    padding: 10px;
    color: white;
    text-align: center;
    padding: 5px;
}

.form-container {
    width: 350px;
    height: 720px;
    margin-right: 20px;
    border: 2px solid rgb(87, 6, 6);
    padding: 10px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    margin-bottom: 0px;
}

label {
    padding: 5px;
}

input, select {
    width: 100%;
    height: 40px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(124, 13, 13);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(87, 6, 6);
}

.table-container {
    overflow: auto;
}

.table-container table {
    margin-top: 10px;
}

.table-container th{
    border: 2px solid rgb(87, 6, 6);
    padding: 2px;
    text-align: left;
} 
.table-container td {
    border: 2px solid rgb(87, 6, 6);
    height: 40px;
    padding: 5px;
}

.table-container th {
    background-color: #f2f2f2;
}

.additional-links{
    margin-top: 5px;
    display: flex;
}

.active{
    background-color: rgb(146, 196, 10);
    color: white;
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    height: 35px;
}

.inactive{
    background-color: rgb(87, 6, 6);
    color: white;
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    height: 35px;
}

.modificar{
    margin-right: 5px;
}

.all-person{
    color: white;
    padding: 5px;
    background-color: rgb(87, 6, 6);
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    height: 35px;
}

.bus{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(87, 6, 6);;
    margin-right: 5px;
}

.formone{
    margin-right: 10px;
}

.control{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(87, 6, 6);;
    margin-right: 5px;
}

.additional-links form{
    display: flex;
}

.boton-buscar{
    width: 50px;
    height: 35px;
    margin-top: 0px;
    padding: 0px;
    border-radius: 5px;
}

dialog{
    transition: 0.5s;
}