<div class="custom-container">
    <div class="form-container">
        <form [formGroup]="frmPerson" (ngSubmit)="registerOrUpdatePerson()">
            <h5>Registrar Empleado</h5>
            <div class="form-group">
                <label for="nomPersona">Nombres</label>
                <input type="text" id="nomPersona" placeholder="Ingrese nombres" name="nomPersona" formControlName="nomPersona">
            </div>

            <div class="form-group">
                <label for="aplPersona">Apellidos</label>
                <input type="text" id="aplPersona" placeholder="Ingrese apellidos" name="aplPersona" formControlName="aplPersona">
            </div>

            <div class="form-group">
                <label for="dniPersona">Dni</label>
                <input type="text" id="dniPersona" placeholder="Ingrese el DNI" name="dniPersona" formControlName="dniPersona">
            </div>

            <div class="form-group">
                <label for="correoPersona">Correo</label>
                <input type="text" id="correoPersona" placeholder="Ingrese el correo" name="correoPersona" formControlName="correoPersona">
            </div>

            <div class="form-group">
                <label for="fnaciPersona">Fecha de Naci.</label>
                <input type="date" id="fnaciPersona" placeholder="Fecha de nacimiento" name="fnaciPersona" formControlName="fnaciPersona">
            </div>

            <div class="form-group">
                <label for="celuPersona">Celular</label>
                <input type="text" id="celuPersona" placeholder="Celular" name="celuPersona" formControlName="celuPersona">
            </div>

            <div class="form-group">
                <label for="idSexo">Sexo</label>
                <select id="idSexo" name="idSexo" formControlName="idSexo">
                    <option value="0">Seleccione el sexo</option>
                    <option *ngFor="let sexo of sex" [value]="sexo.idSexo">{{ sexo.desSexo }}</option>
                </select>
                <label for="idTipo">Tipo</label>
                <select id="idTipo" name="idTipo" formControlName="idTipo">
                    <option value="0">Seleccione el tipo</option>
                    <option *ngFor="let tipo of type" [value]="tipo.idTipo">{{ tipo.nomTipo }}</option>
                </select>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="table-container">
        <div class="additional-links">
            <a class="active" (click)="cleanItems()">Regresar</a>
            <a class="all-person" routerLink="inactivos">Personas Inactivas</a>
            <form class="formone" [formGroup]="frmPerson" (ngSubmit)="findNameActive()">
                <div>
                    <input class="bus" type="text"name="nomPersona" placeholder="Buscar por nombre" formControlName="nomPersona">
                </div>
                <button class="boton-buscar">
                    <svg style="margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </form>
            <form [formGroup]="frmPerson" (ngSubmit)="findByTypePersonActive()">
                <select class="control" formControlName="idTipo">
                    <option value="0">Seleccione el tipo</option>
                    <option *ngFor="let tipo of type" [value]="tipo.idTipo">{{ tipo.nomTipo }}</option>
                </select>
                <button class="boton-buscar" (click)="findByTypePersonActive()">Buscar</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                    <th>Celular</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of person">
                    <th scope="row">{{persona.idPersona}}</th>
                    <td>{{persona.nomPersona}}</td>
                    <td>{{persona.aplPersona}}</td>
                    <td>{{persona.dniPersona}}</td>
                    <td>{{persona.celuPersona}}</td> 
                    <td>{{persona.objType.nomTipo}}</td>
                    <td>{{persona.activoPersona}}</td>
                    <td>
                        <a class="modificar btn btn-warning" (click)="loadPersonDataForUpdate(persona)" >
                            Modificar
                        </a>
                        <a class="btn btn-danger" (click)="deleteSoftPerson(persona.idPersona)">
                            Eliminar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>